# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- NumPy
- Pandas
- Matplotlib
- Scikit-learn

Some of the popular languages that Data Scientists use are:

1. R
2. python
3. SQL
4. Jave
5. Julia

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Matplotlib
* Scikit-learn

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

(200/60)

3.3333333333333335

## Author
Razan